<!DOCTYPE html>
<html>
<head>
  <title>Rt oauth client</title>
  <%= stylesheet_link_tag    "rt/oauth/client/application", media: "all" %>
  <%= javascript_include_tag "rt/oauth/client/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
